* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  color: #0c0c0c;
  text-align: center;
}


main img {
  width: 300px;
  height: auto;
  border: #222;
  padding: 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
  float: right;
}

nav {
    background-color: rgb(3, 113, 215);
    padding: 0;
}

nav a {
  color: rgb(51, 31, 1);
  display: block;
  padding: 0%;
}

img {
  width: 100px;
  height: auto;
  border-radius: 8px;
  display: block;
  margin: 1rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
  align-content: center;
}



ul {
    margin: 10px 20px;
}

p {
  padding: 0;
}

aside {
  width: 300px;
  margin: 20px auto;
  border: 1px solid #333;
  padding: 15px;
  background-color: #f5f5f5;
  color: #222;
  border-radius: 10px;
  text-align: center;
}

aside img {
  width: 200px;
  height: auto;
}

footer {
  margin-top: 30px;
  border-top: 2px solid #ccc;
  text-align: center;
  padding: 10px;
  font-size: 0.9rem;
}

/* class selector */
.box {
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, .1);
  padding: 1rem;
  background-color: #eee;
  color: black;
}